#editor { right: 6vw; height: 78vh; position: absolute; top: 8.5vh; visibility: "hidden"; width: 33vw; }
#viewer { right: 6vw; height: 78vh; position: absolute; top: 8.5vh; visibility: "hidden"; width: 33vw; }
      #facts { box-sizing: border-box; display: block; height: 90%; min-height: 90%; overflow-y: scroll; }
#viewerfacts { box-sizing: border-box; display: block; height: 90%; min-height: 90%; overflow-y: scroll; }
      #title { box-sizing: border-box; background: transparent; border: 0; color: #FFFFFF; display: inline-block; height: 5%; text-align: center; width: 100%; }
#viewcont { box-sizing: border-box; background: transparent; border: 0; color: #FFFFFF; display: inline-block; height: 5%; text-align: center; width: 100%; }
#viewertitle { box-sizing: border-box; background: transparent; border: 0; color: #FFFFFF; display: inline-block; position: relative; top: 50%; transform: translate(0, -50%); text-align: center; width: 100%; }
#editdone { border-bottom-left-radius: 12px; }
#editcancel { border-bottom-right-radius: 12px; }
#viewmaster { border-bottom-left-radius: 12px; }
#viewedit { border-bottom-right-radius: 12px; }

.botbuttons { height: 5%; }
.cancel { background-color: rgba(255, 65, 54, 0.5); }
.done { background-color: rgba(46, 204, 64, 0.5); }
.edit { background-color: rgba(0, 31, 63, 0.5); }
.master { background-color: rgba(177, 13, 201, 0.5); }

button[type="button"] { border: 0; float: left; height: 100%; width: 50%; }
canvas { position: absolute; z-index: -1; }
input[type="text"] { background: transparent; border: 0; color: #FFFFFF; height: 5%; outline: none; text-align: center; width: 100%; }
textarea { background: transparent; border:0; color: #FFFFFF; height: 90%; outline: none; resize: none; width: 100%; }
